################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DDOBuilder/v16
/.vs/DDOBuilderV2/v16
/.vs
/Debug
/Output/ddowiki.com
/Output/www.ddowiki.com/page
/Output/DDOBuilder.chm
/Output/DDOBuilder.chw
/Output/DDOBuilder.exe
/Output/DDOBuilder.ini
/Output/DDOBuilder.pdb
/Output/ndom-wait
/Output/XmlLibD.pdb
/Output/XmlLibD.lib
/Output/XmlLib.pdb
/Output/XmlLib.lib
/XmlLib/Src/Debug
